.hero {
    background: linear-gradient(135deg, #32b4ff, #5067c5)
}
.menu {
    width: 100%;
    height: 70px;
    padding-top: 18px;
}
.menu button {
    float: right;
    margin-right: 20px;
}
.introduce {
    width: 100%;
    height: 800px;
    color: white;
}
.col {
    margin-top: 150px;
}
